html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(100, 79, 79);
}

.container {
    max-width: 75rem;
    min-height: 10rem;
    margin: auto;
    background-color: white;
    padding: 1rem;
}


#pageheader {
    background-color: coral;
    min-height: auto;
    padding: .25rem;
}

blockquote {

    width: 60%;
    margin: auto;
    padding: 1rem;
    font-weight: bold;
    color: white;
    background-color: black;
    width: max-content;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;
    margin-bottom: 1rem;
    
}

blockquote+span {
    width: 60%;
    margin: auto;
    display: block;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
     background-color: black;
    width: max-content;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;
    background-color: black;
    padding: .5rem;
   
}

#logo {
    background-image: url(Semester1/Portfolio\ Logo.png);
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid none;
    background-size: cover;
    background-position: center;
    
}

#pageheader .container {
    min-height: auto;
    background-color: black;
}

#pageheader nav {
    text-align: center;
    background-color:coral ;
    width:max-content;
    margin: auto;
    box-shadow: rgb(60, 59, 58) 5px 5px 5px 5px;
}
#pageheader nav a {
    color: black;
}
#pageheader nav a:hover {
    color: white;
}

#media {
    background-color: lightblue;
    min-height: 10rem;
    padding: 1rem;
    background-image: url();
    background-size: cover;
    aspect-ratio: 16 / 9;
    
}

#career {
    background-color: aqua;
    min-height: 10rem;
    padding: 1rem;
}

#pagecontent {
    background-color: lightgreen;
    min-height: 10rem;
    padding: 1rem;
}

#semester1 {
    background-color: aquamarine;
    min-height: 10rem;
    padding: 1rem;
}

#semester2 {
    background-color: lightgreen;
    min-height: 10rem;
    padding: 1rem;
}

#pagefooter {
    background-color: cornflowerblue;
    min-height: auto;
    padding: 1rem;
}

#pagefooter .container {
    min-height: auto;
    text-align: center;
}

#aifooter {
    background-color: lightseagreen;
    min-height: auto;
    padding: 1rem;
}
#aifooter .container {
    min-height: auto;
    text-align: center;
    
}

#subfooter {
    background-color: steelblue;
    min-height: 10rem;
    padding: 1rem;
    text-align: center;
}

audio {
    border: 5px solid steelblue;
    background-color: steelblue;
    display: block;
    margin: auto;
}