html{
    scroll-behavior: smooth;
    
}
h1
{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: .5rem;
    width: max-content;
    box-shadow: rgb(80, 80, 80) 5px 5px 5px 5px;
    background-color: black;
}

body {
    background-color: rgb(0, 0, 0);
}

.container {
    max-width: 75rem;
    min-height: 10rem;
    margin: auto;
    background-color: white;
    padding: 1rem;
    
}


#pageheader {
    background-color: coral;
    min-height: auto;
    padding: .25rem;
}

blockquote {

    width: 60%;
    margin: auto;
    padding: 1rem;
    font-weight: bold;
    color: white;
    background-color: black;
    width: max-content;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;
    margin-bottom: 1rem;
    
}

blockquote+span {
    width: 60%;
    margin: auto;
    display: block;
    font-weight: bold;
    text-align: right;
    color: #ffffff;
     background-color: black;
    width: max-content;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;
    background-color: black;
    padding: .5rem;
   
}

#logo {
    background-image: url(Semester1/Portfolio\ Logo.png);
    width: 6.25rem;
    height: 6.25rem;
    border: 1px solid none;
    background-size: cover;
    background-position: center;
    
}

#pageheader .container {
    min-height: auto;
    background-color: black;
}

#pageheader nav {
    text-align: center;
    background-color:coral ;
    
    margin: auto;
    box-shadow: rgb(60, 59, 58) 5px 5px 5px 5px;
   
}
 #pageheader nav ul
    {
        background-color: coral;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    

#pageheader nav ul li
    {
        border: 2px solid black;
        padding: 1rem;
        margin: 2px;
        
    }
#pageheader nav ul li:hover
    {
        background-color: lightcoral;
        color: white;   
    }


#pageheader nav a {
    color: black;
}
#pageheader nav a:hover {
    color: white;
}

#media {
    background-color: lightblue;
    min-height: 7rem;
    padding: 1rem;
    background-image: url();
    background-size: cover;
    aspect-ratio: 16 / 9;
    
}

#career {
    background-color: aqua;
    min-height: 10rem;
    padding: 1rem;
}

#pagecontent {
    background-color: rgb(0, 0, 0);
    min-height: 10rem;
    padding: 1rem;
}

#semester1 {
    background-color: #80F9D4;
    min-height: 10rem;
    padding: 1rem;

}
#semester1 h2 {
    
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: .5rem;
     width: max-content;
    box-shadow: rgb(127, 255, 212) 5px 5px 5px 5px;
}
#semester1 .container {
    background-color: black;
    color: white;
}

#semester1  a{
    color: rgb(255, 255, 255);
}
#semester1  a:hover{
    color: rgb(128, 249, 212);

}

#semester2 {
    background-color: lightgreen;
    min-height: 10rem;
    padding: 1rem;
}

#pagefooter {
    background-color: cornflowerblue;
    min-height: auto;
    padding: 1rem;
}

#pagefooter .container {
    min-height: auto;
    text-align: center;
}

#aifooter {
    background-color: lightseagreen;
    min-height: auto;
    padding: 1rem;
}
#aifooter .container {
    min-height: auto;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #21B2AA;
    
}
#aifooter  a{
    color: #21B2AA;
    box-shadow: #21B2AA 2px 2px 2px 2px;
}

#aifooter a:hover {
    color: white;
}

#subfooter {
    background-color: steelblue;
    min-height: 10rem;
    padding: 1rem;
    text-align: center;
}   
#subfooter p {
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: steelblue;
    width: max-content;
    text-align: center;
    margin: auto;
    box-shadow: rgb(0, 0, 0) 5px 5px 5px 5px;
    margin-top: .5rem;
}


audio {
    border: 5px solid steelblue;
    background-color: steelblue;
    display: block;
    margin: auto;
}
@media screen and (min-width: 650px)
{ 





    #pageheader nav ul li
    { display: inline-block;}


    #pagecontent {
        background-color: gray;
    }
    
}

@media screen and (min-width: 1000px)
{
    #pagecontent {
        background-color: black;
    }


    
}