

/*? this. is a question comment  */
/*! This is an alert comment  */
/* * this is a regular comment  */




body{
    background-color: blanchedalmond;
}

h1
{
    color: crimson;
}

ul{
    font-family: 'Courier New', Courier, monospace;
}

