body {
    background-color: bisque;
}

h1 {
    text-align: center;
    color: white;
    background-color: black;
    min-width: 5rem;
    width:max-content;
    text-align: center;
    margin: auto;   
    padding: .5rem;
    box-shadow: 5px 5px 5px 5px white;
    
}

img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

dl {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    border: 2px solid black;
}

dt {
    padding: 1rem;
    background-color: black;
    font-weight: bold;
    color: white;
    box-shadow: 5px 5px 5px 5px white;
}

dd {
    padding: 1rem;
}
p {
    width: 80%;
    background-color: black;
    margin: 1rem auto;
    padding: 1rem;
    color: white;
    box-shadow: 5px 5px 5px 5px white;
}

ul {
    width: 70%;
    padding: 1rem;
    background-color: black;
    margin: auto;
    color: white;
    box-shadow: 5px 5px 5px 5px white;
    padding-left: 4rem;
}

a {
    display: block;
    margin: auto;
    text-align: center;
    padding: 1rem;
}